
.card {
    border: 1px solid #B5A886;
    padding: 15px;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 1px 6px 6px #ccc;
    background-color: #FEE1C7;
    color: #37515F;
    margin-bottom: 3rem;
    max-width: 300px;
    margin: 3rem auto 0 auto;
}

h2 {
    text-align: center;
}

p {
    margin: 2rem 0;
    font-size: 1.3rem;
    font-weight: bold;
}

/* tarjeta para contenido opcional */
.card.defecto {
    min-height: 200px;
    background-color: #C94277;
    color: #fff;
}

.card.nurse {
    min-height: 200px;
    background-color: #412234;
    color: #fff;
}

.card.software-engineer {
    min-height: 200px;
    background-color: #050517;
    color: #CF5C36;
}

.card.pharmacist {
    min-height: 200px;
    background-color: #412234;
    color: #fff;
}


.card.web-designer {
    min-height: 200px;
    background-color: #14080E;
    color: #49475B;
}