<!-- Ejemplo de como funciona el ngFor en Angular -->
<!-- <app-tarjeta *ngFor="let persona of personas"
    [nombre]="persona.nombre"
    [titulo]="persona.titulo"
    [bio]="persona.bio"
></app-tarjeta> -->

<!-- Ejemplo del uso de ngSwitch -->
<!-- <div [ngSwitch]="condicionSW">
    <div *ngSwitchCase="1">
        <h1>Condicion 1 del Switch</h1>
    </div>
    <div *ngSwitchCase="2">
        <h2>Condicion 2 del Switch</h2>
    </div>
    <div *ngSwitchCase="3">
        <h3>Condicion 3 del Switch</h3>
    </div>
    <div *ngSwitchDefault>
        Condicion por defecto del Switch
    </div>
</div> -->

<!-- <app-tarjeta-switch *ngFor="let persona of personas"
    [nombre]="persona.nombre"
    [titulo]="persona.titulo"
    [bio]="persona.bio"
></app-tarjeta-switch> -->

<app-listado-personas></app-listado-personas>